CI_ENVIRONMENT=development
app.baseURL=http://localhost/api/  # Pastikan ini URL untuk akses API

database.default.hostname=mysql
database.default.database=kelompok_4
database.default.username=user
database.default.password=password
database.default.DBDriver=MySQLi

JWT_SECRET=supersecretkey123
